@model IEnumerable<diplom.Models.Share>

@{
    ViewData["Title"] = "Index";
}

<div class="col-lg-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>Список компаний</h3>
        </div>
        <div class="card-body feeds-widget">
@foreach (var item in Model) {
            <div class="feed-item">
                <a href="/shares/details/@item.Id">
                    @{
                        string logoPath = (item.Company != null && item.Company.Logo != null ? item.Company.Logo : ""); 
                    }
                    @if (item.Company != null && item.Company.Logo != null)
                    {
                        <div class="feeds-left"><img style="height: 45px;" src="@logoPath"/></div>
                    }
                    <div class="feeds-body">
                        <h4 class="title text-success">@Html.DisplayFor(modelItem => item.Name)</h4>
                            @{
                                string shortDescription = (item.Company != null && item.Company.BrandInfo != null) ? (item.Company.BrandInfo.Length > 200 ? item.Company.BrandInfo.Substring(0, 200) + "..." : item.Company.BrandInfo) : ""; 
                            }
                            @if (item.Company != null && item.Company.BrandInfo != null && item.Company.BrandInfo.Length > 0)
                            {
                                <small>@shortDescription</small>
                            }
                    </div>
                </a>
            </div>
}
        </div>
    </div>
</div>
