
diplom/.vs
/diplom/diplom/bin/Debug/net6.0/runtimes/linux-x64/native/libtensorflow.so
/diplom/diplom/bin/Debug/net6.0/runtimes/osx-x64/native/libtensorflow.dylib
/diplom/diplom/bin/Debug/net6.0/runtimes/win-x64/native/tensorflow.dll
