<div class="row">
    <div class="col-md-12 col-xl-8">
        <div class="card sale-card">
            <div class="card-block">
                <div id="chart_div" style="height:300px; margin-bottom: 20px;"></div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-4">
        <div class="card">
            <div class="card-header">
                <h3>Список новостей</h3>
            </div>
            <div id="news_container" class="card-body scrollable feeds-widget" style="height:300px"></div>
        </div>
    </div>
</div>
<div class="col-md-12 col-xl-12">
    <div class="card sale-card">
        <div class="card-header">
            <h3>Deals Analytics</h3>
        </div>
        <div class="card-block">
            <div id="deal-analytic-chart" class="chart-shadow" style="height:300px"></div>
        </div>
    </div>
</div>